
<div id="make-appointment-page" ng-app="AppointmentApp">

    <!-- header begin -->
    <header class="page-head">
        <div class="header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li><a href="/appointment">Appointment</a></li>
                            <li class="active">Make Appointment</li>
                        </ol> <!-- end of /.breadcrumb -->

                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.header-wrapper -->
    </header> <!-- /.page-head (header end) -->


    <div class="main-content">

        <!-- begin appointment section -->
        <section class="bg-light-gray">
            <div class="container">

                <div class="headline text-center">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h2 class="section-title">affordable pricing</h2>
                            <p class="section-sub-title">
                                first class massage &amp; acupuncture
                            </p> <!-- /.section-sub-title -->
                        </div>
                    </div>
                </div> <!-- /.headline -->

                <!-- user info input section -->
                <div class="row">
                    <div class="col-md-4">

                        <div class="form-group">
                            <input  name="name" type="text" class="form-control" id="name" required="required" placeholder="Full Name">
                        </div>

                        <div class="form-group">
                            <input name="email" type="email" class="form-control" id="email" required="required" placeholder="Email Address">
                        </div>

                    </div>

                    <div class="col-md-8">
                        <textarea name="message" type="text" class="form-control" id="message" rows="8" required="required" placeholder="Type here message"></textarea>
                    </div>
                </div><!-- /.end user input -->



                <button type="submit" id="submit" name="submit" class="btn btn-black">send message</button>


            </div>
        </section>
        <!-- end of appointment section -->
                    
    </div> <!--  end of .main-content  -->

</div> <!--  end of #service-page  -->


<!--  Necessary scripts  -->

<script type="text/javascript" src="assets/js/vendor/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/vendor/owl.carousel.js"></script>


<!-- script for testimonial -->
<script type="text/javascript">
    $(document).ready(function() {

        $("#client-speech").owlCarousel({
         
            autoPlay: 5000, //Set AutoPlay to 3 seconds
            stopOnHover: true,
            singleItem:true
        });

    });
</script>